<style type="text/css">
  .round-button-circle {
    width: 100%;
    height:0;
    padding-bottom: 100%;
    border-radius: 50%;
    overflow:hidden;
    background: #2E7D32; 
    box-shadow: 0 0 3px gray;
  }
  .round-button-circle:hover {
    background:#F44336;
    cursor: pointer;
  }
  .round-button a {
    display:block;
    float:left;
    width:100%;
    padding-top:50%;
    padding-bottom:50%;
    line-height:1em;
    margin-top:-0.5em;
    text-align:center;
    color:#e2eaf3;
    font-family:Verdana;
    font-size:1.2em;
    font-weight:bold;
    text-decoration:none;
  }
  @media(min-width: 200px){
    .round-button {
      width: 15px;
    }
  }

  @media(min-width: 500px){
    .round-button {
      width:20px;
    }
  }
  @media(min-width: 700px){
    .round-button {
      width:35px;
    }
  }
</style>
<div>
  <form class="form-horizontal">
    <fieldset>
      <legend>Ajouter Marché</legend>
      <div class="form-group">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <label for="inputEmail" class="control-label"><b>L'objet du marché</b></label>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <input class="form-control" name="name_marche"  placeholder="L'objet du marché" ng-model="market.title" type="text">
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <label for="type_marche" class="control-label"><b>Type du marché</b></label>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <select class="form-control" ng-model="market.type_budget">
              <option>INDH</option>
              <option>BP</option>
              <option>BG</option>
            </select>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <label for="description_marche" class="control-label"><b>Description du marché</b></label>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <textarea class="form-control" name="description_marche" rows="3" id="textArea" ng-model="market.objet"></textarea>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <label for="budget_marche" class="control-label"><b>Budget Du marché</b></label>
          </div> 
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <input type="text" class="form-control" name="budget_marche" ng-model="market.montant"/>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row"> 
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <label><b>Date d'ouverture des plis</b></label>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12" id="date1">
            <input type="text" class="form-control"  ng-model="market.date_ouverture_plis">
            <script type="text/javascript">
              $(function () {
                $('#date1 input').datepicker({
                    autoclose: true,
                    todayHighlight: true,
                    format:"dd-mm-yyyy"
                });
              });
            </script>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row"> 
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <label><b>Date debut des travaux</b></label>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12" id="date2">
            <input type="text" class="form-control" ng-model="market.date_debut_travaux"  >
            <script type="text/javascript">
              $(function () {
                $('#date2 input').datepicker({
                    autoclose: true,
                    todayHighlight: true,
                    format:"dd-mm-yyyy"
                });
              });
            </script>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <label class="control-label" for="duree_travaux"><b>Durée des travaux (en j)</b></label>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
           <input type="text" class="form-control" name="duree_travaux" ng-model="market.duree"/>
         </div>
       </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <label class="control-label" for="liste_labo"><b>Laboratoire</b></label>
          </div>
          <div class="col-lg-7">
            <select class="form-control" 
                    ng-model="selectedLabo"
                    ng-options="labo as labo.name_labo for labo in laboratoires" 
                    ng-change="market.labo_id = selectedLabo.id">
            </select>
          </div>
          <div class="col-lg-2 col-lg-offset-0">
            <div class="round-button">
              <div class="round-button-circle">
                <a  class="round-button" data-toggle="modal" data-target="#labModal">
                  +
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <label class="control-label" for="liste_labo"><b>Societe</b></label>
          </div>
          <div class="col-lg-7">
            <select class="form-control" 
                ng-model="selectedSociete"
                ng-options="s as s.name_societe for s in societes"
                ng-change="market.societe_id = selectedSociete.id"
                >
              
            </select>
          </div>
          <div class="col-lg-2 col-lg-offset-0">
            <div class="round-button">
              <div class="round-button-circle">
                <a  class="round-button" data-toggle="modal" data-target="#societeModal">
                  +
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <label class="control-label" for="liste_labo"><b>Bureau d'études</b> </label>
          </div>
          <div class="col-lg-7">
            <select class="form-control" 
                ng-model="selectedBet"
                ng-options="b as b.name_bet for b in bets"
                ng-change="market.bet_id = selectedBet.id"
                >
              
            </select>
          </div>
          <div class="col-lg-2 col-lg-offset-0">
            <div class="round-button">
              <div class="round-button-circle">
                <a  class="round-button" data-toggle="modal" data-target="#betModal">
                  +
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <label class="control-label" for="liste_labo"><b>Maitre d'ouvrage</b></label>
          </div>
          <div class="col-lg-7">
            <select class="form-control" 
                ng-model="selectedMaitre"
                ng-options="s as s.name_maitre_ouvrage for s in maitres"
                ng-change="market.maitre_ouvrage_id = selectedMaitre.id"
                >
            </select>
          </div>
          <div class="col-lg-2 col-lg-offset-0">
            <div class="round-button">
              <div class="round-button-circle">
                <a  class="round-button" data-toggle="modal" data-target="#maitreModal">
                  +
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <label class="control-label" for="liste_labo"><b>Architecte</b></label>
          </div>
          <div class="col-lg-7">
            <select class="form-control" 
                ng-model="selectedArchitecte"
                ng-options="s as s.name_archi for s in architectes"
                ng-change="market.archi_id = selectedArchitecte.id"
                >
              
            </select>
          </div>
          <div class="col-lg-1">
            <div class="round-button">
              <div class="round-button-circle">
                <a  class="round-button" data-toggle="modal" data-target="#archModal">
                  +
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row ">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                <a class="btn btn-danger button-block" ng-click="cancelMarket()">Annuler</a>
                <a class="btn btn-success button-block" ng-click="saveMarket()">Enregistrer </a>
          </div>
        </div>
      </div>
    </fieldset>
  </form>
</div>
<div  id="labModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Ajouter un Nouveau Laboratoire</h4>
      </div>
      <div class="modal-body">
        <form name="labForm">
          <div class="form-group">
            <div class="row">
              <div class="col-lg-4">
                <label class="control-label">
                  <b>Nom du Labo</b>
                </label>
              </div>
              <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12" ng-class="{'has-error' : labForm.labName.$invalid}">
                <div>
                  <input class="form-control" name="labName" ng-pattern="/^[a-zA-Z]+$/" ng-model="labo.name_labo" type="text" ng-required>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-lg-4">
                <label class="control-label">
                  <b>E-mail du Labo</b>
                </label>
              </div>
              <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                <div ng-class="{'has-error' : labForm.email.$invalid}">
                  <input class="form-control" name="email"  ng-model="labo.email_labo" type="email" ng-required>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-lg-4">
                <label class="control-label">
                  <b>Telephone du Labo</b>
                </label>
              </div>
              <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                <div ng-class="{'has-error' : labForm.tel.$invalid}">
                  <input class="form-control" name="tel" ng-pattern="/^[0-9]{10}$/" ng-model="labo.tel_labo" type="tel" ng-required>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-lg-4">
                <label class="control-label">
                  <b>Fax du Labo</b>
                </label>
              </div>
              <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                <div ng-class="{'has-error':labForm.fax.$invalid}">
                  <input class="form-control" name="fax" ng-pattern="/^[0-9]{10}$/" ng-model="labo.fax_labo" type="tel" ng-required>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-lg-4">
                <label class="control-label">
                  <b>Adresse du Labo</b>
                </label>
              </div>
              <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                <div ng-class="{'has-error':labForm.address.$invalid}">
                  <input class="form-control" name="address" ng-minlength="10" ng-maxlength="100" ng-model="labo.adresse_labo" type="text" ng-required>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
            <button type="button" class="btn btn-primary" ng-click="saveLabo()" ng-disabled="labForm.$invalid">Sauvgrader</button>
          </div>
        </form>
      </div>
      
    </div>
  </div>
</div>

<div  id="societeModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Ajouter une Nouvelle societe</h4>
      </div>
      <div class="modal-body">
        <form name="societeForm" novalidate>
          <div class="form-group">
            <div class="row">
              <div class="col-lg-4">
                <label class="control-label">
                  <b>Nom de la societe</b>
                </label>
              </div>
              <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                <div ng-class="{'has-error':societeForm.nom.$invalid}">
                  <input class="form-control" name="nom" ng-pattern="/^[a-zA-Z]+$/" ng-required ng-model="soc.name_societe" type="text">
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-lg-4">
                <label class="control-label">
                  <b>E-mail de la societe</b>
                </label>
              </div>
              <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                <div ng-class="{'has-error':societeForm.email.$invalid}">
                  <input class="form-control" name="email" ng-required ng-model="soc.email_societe" type="email">
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-lg-4">
                <label class="control-label">
                  <b>Telephone de la societe</b>
                </label>
              </div>
              <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                <div ng-class="{'has-error':societeForm.tel.$invalid}">
                  <input class="form-control" name="tel" ng-pattern="/^[0-9]{10}$/" ng-required ng-model="soc.tel_societe" type="text">
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-lg-4">
                <label class="control-label">
                  <b>Fax de la societe</b>
                </label>
              </div>
              <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                <div ng-class="{'has-error':societeForm.fax.$invalid}">
                  <input class="form-control" name="fax" ng-pattern="/^[0-9]{10}$/" ng-required ng-model="soc.fax_societe" type="text">
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-lg-4">
                <label class="control-label">
                  <b>Adresse de la societe</b>
                </label>
              </div>
              <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                <div ng-class="{'has-error':societeForm.address.$invalid}">
                  <input class="form-control" name="address" ng-minleength="10" ng-maxlength="100" ng-model="soc.adresse_societe" type="text">
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
            <button type="button" class="btn btn-primary" ng-disabled="societeForm.$invalid" ng-click="saveSociete()">Sauvgarder</button>
          </div>
        </form>
      </div>
      
    </div>
  </div>
</div>

<div  id="betModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Ajouter un Nouveau bureau d'etude</h4>
      </div>
      <div class="modal-body">
        <form name="betForm">
          <div class="form-group">
            <div class="row">
              <div class="col-lg-4">
                <label class="control-label">
                  <b>Nom du BET</b>
                </label>
              </div>
              <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                <div ng-class="{'has-error':betForm.nom.$invalid}">
                  <input class="form-control" name="nom" ng-pattern="/^[a-zA-Z]+$/" ng-required ng-model="bet.name_bet" type="text">
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-lg-4">
                <label class="control-label">
                  <b>E-mail du BET</b>
                </label>
              </div>
              <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                <div ng-class="{'has-error':betForm.email.$invalid}">
                  <input class="form-control" name="email" ng-required ng-model="bet.email_bet" type="email">
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-lg-4">
                <label class="control-label">
                  <b>Telephone du BET</b>
                </label>
              </div>
              <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                <div ng-class="{'has-error':betForm.tel.$invalid}">
                  <input class="form-control" name="tel" ng-pattern="/^[0-9]{10}$/" ng-required ng-model="bet.tel_bet" type="text">
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-lg-4">
                <label class="control-label">
                  <b>Fax du BET</b>
                </label>
              </div>
              <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                <div ng-class="{'has-error':betForm.fax.$invalid}">
                  <input class="form-control" name="fax" ng-pattern="/^[0-9]{10}$/" ng-required ng-model="bet.fax_bet" type="text">
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-lg-4">
                <label class="control-label">
                  <b>Adresse du BET</b>
                </label>
              </div>
              <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                <div ng-class="{'has-error':betForm.address.$invalid}">
                  <input class="form-control" name="address" ng-minlength="10" ng-maxlength="100" ng-required ng-model="bet.adresse_bet" type="text">
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
            <button type="button" class="btn btn-primary" ng-click="saveBet()" ng-disabled="betForm.$invalid">Sauvgarder</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>

<div  id="maitreModal" class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Ajouter un maitre d'ouvrage</h4>
              </div>
              <div class="modal-body">
                  <form name="maitreForm">
                    <div class="form-group">
                      <div class="row">
                        <div class="col-lg-4">
                          <label class="control-label">
                            <b>Nom Maitre douvrage</b>
                          </label>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                          <div ng-class="{'has-error' : maitreForm.nom.$invalid}">
                            <input class="form-control" name="nom"  ng-required ng-model="maitre.name_maitre_ouvrage" type="text">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <div class="col-lg-4">
                          <label class="control-label">
                            <b>Email Maitre douvrage</b>
                          </label>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                          <div ng-class="{'has-error' : maitreForm.email.$invalid}">
                            <input class="form-control" name="email" ng-required ng-model = "maitre.email_maitre_ouvrage" type="email">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <div class="col-lg-4">
                          <label class="control-label">
                            <b>Tel Maitre douvrage</b>
                          </label>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                          <div ng-class="{'has-error' : maitreForm.tel.$invalid}">
                            <input class="form-control" name="tel" ng-pattern="/^[0-9]{10}$/" ng-required ng-model = "maitre.tel_maitre_ouvrage" type="text">
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="row">
                        <div class="col-lg-4">
                          <label class="control-label">
                            <b>Fax Maitre douvrage</b>
                          </label>
                        </div> 
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                          <div ng-class="{'has-error' : maitreForm.fax.$invalid}">
                            <input class="form-control" name="fax" ng-pattern="/^[0-9]{10}$/" ng-required ng-model = "maitre.fax_maitre_ouvrage" type="text">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <div class="col-lg-4">
                          <label class="control-label">
                            <b>Addresse Maitre douvrage</b>
                          </label>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                          <div ng-class="{'has-error' : maitreForm.address.$invalid}">
                            <input class="form-control" 
                              name="address" 
                              ng-minlength="5" 
                              ng-maxength="100" 
                              ng-required ng-model = "maitre.adresse_maitre_ouvrage" 
                              type="text">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                      <button type="button" class="btn btn-primary" ng-disabled="maitreForm.$invalid" ng-click="saveMaitre()">Sauvgarder</button>
                    </div>
                  </form>
              </div>
              
            </div>
          </div>
</div>

<div  id="archModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Ajouter un Nouveau architecte</h4>
      </div>
      <div class="modal-body">
        <form name="archForm" novalidate>
          <div class="form-group">
            <div class="row">
              <div class="col-lg-4">
                <label class="control-label">
                  <b>Nom du Architecte</b>
                </label>
              </div>
              <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                <div ng-class="{'has-error':archForm.nom.$invalid}">
                  <input name="nom" class="form-control" ng-model="archi.name_archi" type="text" ng-required>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-lg-4">
                <label class="control-label">
                  <b>E-mail du Architecte</b>
                </label>
              </div>
              <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                <div ng-class="{'has-error':archForm.email.$invalid}">
                  <input class="form-control" name="email" ng-model="archi.email_archi" type="email" ng-required>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-lg-4">
                <label class="control-label">
                  <b>Telephone de l'architecte</b>
                </label>
              </div>
              <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                <div ng-class="{'has-error':archForm.tel.$invalid}">
                  <input class="form-control" name="tel" ng-model="archi.tel_archi" type="tel" ng-pattern="/^[0-9]{10}$/" ng-required>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-lg-4">
                <label class="control-label">
                  <b>Fax du Architecte</b>
                </label>
              </div>
              <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                <div ng-class="{'has-error':archForm.fax.$invalid}">
                  <input class="form-control" name="fax" ng-model="archi.fax_archi" type="tel" ng-pattern="/^[0-9]{10}$/" ng-required>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-lg-4">
                <label class="control-label">
                  <b>Adresse du Architecte</b>
                </label>
              </div>
              <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                <div ng-class="{'has-error':archForm.address.$invalid}">
                  <input class="form-control" ng-maxlength="100" ng-minlength="5" ng-required name="address" ng-model="archi.adresse_archi" type="text">
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
            <button type="button" class="btn btn-primary" ng-click="saveArchitect()" ng-disabled="archForm.$invalid">Sauvgrader</button>
        </div>
        </form>
        </div>
    </div>
  </div>
</div>