  <style type="text/css">
    @media(min-width: 200px){
      .round-button {
        width: 15px;
      }
    }

    @media(min-width: 500px){
      .round-button {
        width:20px;
      }
    }
    
    @media(min-width: 700px){
      .round-button {
        width:35px;
      }
    }


    .round-button-circle {
      width: 100%;
      height:0;
      padding-bottom: 100%;
      border-radius: 50%;
      overflow:hidden;
      background: #4679BD; 
      box-shadow: 0 0 3px gray;
    }
  }
  .round-button-circle:hover {
    background:#30588e;
  }
  .round-button a {
    display:block;
    float:left;
    width:100%;
    padding-top:50%;
    padding-bottom:50%;
    line-height:1em;
    margin-top:-0.5em;
    text-align:center;
    color:#e2eaf3;
    font-family:Verdana;
    font-size:1.2em;
    font-weight:bold;
    text-decoration:none;
  }
</style>
<link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />
<div>
  <form class="form-horizontal">
    <fieldset>
      <legend>Ajouter un Marché : </legend>
      <div class="form-group">
        <div class="row">
          <div class="col-lg-3">
            <label for="inputEmail" class="control-label">Titre Du marché</label>
          </div>
          <div class="col-lg-8">
            <input class="form-control" name="name_marche"  placeholder="Titre du marché" type="text">
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-lg-3">
            <label for="type_marche" class="control-label">Type du marché</label>
          </div>
          <div class="col-lg-8">
            <select class="form-control">
              <option>INDH</option>
              <option>BP</option>
              <option>BG</option>
            </select>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-lg-3">
            <label for="description_marche" class="col-lg-4 control-label">Description du marché</label>
          </div>
          <div class="col-lg-8">
            <textarea class="form-control" name="description_marche" rows="3" id="textArea"></textarea>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-lg-3">
            <label for="budget_marche" class="col-lg-4 control-label">Budget Du marché</label>
          </div> 
          <div class="col-lg-8">
            <input type="text" class="form-control" name="budget_marche" />
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-lg-3">
            <label class="col-lg-4 control-label" for="dateOuverturePlis">Date d'ouverture Des plis</label>  
          </div>
          <div class="col-lg-8">
            <div class="form-group">
              <div class='input-group date' >
                <input type='text' class="form-control" id='date1'/>
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
                </span>
                <script type="text/javascript">
                  $(function () {
                    $('#date1').datetimepicker();
                  });
                </script>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-lg-3">
            <label class="control-label" for="dateDebutTravaux">Date de début des travaux : </label>
          </div>
          <div class="col-lg-8">
            <div class="form-group">
              <div class='input-group date' >
                <input type='text' class="form-control" id='date2'/>
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
                </span>
                <script type="text/javascript">
                  $(function () {
                    $('#date2').datetimepicker();
                  });
                </script>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-lg-3">
            <label class="control-label" for="duree_travaux">Durée des travaux</label>
          </div>
          <div class="col-lg-8">
               <input type="text" class="form-control" name="duree_travaux" />
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-lg-3">
            <label class="control-label" for="decompte_marche">Decompte</label>
          </div>
          <div class="col-lg-8">
            <input type="text" name="decompte_marche" class="form-control"/>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-lg-3">
            <label class="control-label" for="liste_maitre_ouvrage">Liste des Maitre d'ouvrage</label>
          </div>
          <div class="col-lg-7">
            <select name="liste_maitre_ouvrage" class="form-control " >
              <option ng-repeat="maitre in maitres">{{maitre.name}}</option>
            </select>
          </div>
          <div class="col-lg-2 col-lg-offset-0">
            <div class="round-button">
              <div class="round-button-circle">
                <a  class="round-button" data-toggle="modal" data-target="#maitreModal">
                  +
                </a>
              </div>
            </div>
          </div>
          <div  id="maitreModal" class="modal fade">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title">Ajouter un maitre d'ouvrage</h4>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                    <div class="row">
                      <div class="col-lg-4">
                        <label class="control-label">
                          Nom Maitre douvrage
                        </label>
                      </div>
                      <div class="col-lg-8">
                        <div class="">
                          <input class="form-control" type="text">
                        </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-lg-4">
                    <label class="control-label">
                      Tel Maitre douvrage
                    </label>
                  </div>
                  <div class="col-lg-8">
                    <div class="">
                      <input class="form-control" type="text">
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-lg-4">
                    <label class="control-label">
                      Email Maitre douvrage
                    </label>
                  </div>
                  <div class="col-lg-8">
                    <div class="">
                      <input class="form-control" type="email">
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-lg-4">
                    <label class="control-label">
                      Fax Maitre douvrage
                    </label>
                  </div> 
                  <div class="col-lg-8">
                    <div class="">
                      <input class="form-control" type="text">
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-lg-4">
                    <label class="control-label">
                      Addresse Maitre douvrage
                    </label>
                  </div>
                  <div class="col-lg-8">
                    <div class="">
                      <input class="form-control" type="text">
                    </div>
                  </div>
                </div>
              </div>
                </div>
                <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
        <div class="form-group">
          <div class="row">
            <div class="col-lg-3">
              <label class="col-lg-4 control-label" for="liste_labo">Liste des Laboratoire : </label>
            </div>
            <div class="col-lg-7">
              <select class="form-control">
                <option ng-repeat ="l in laboratoires">{{l.name}}</option>
              </select>
          </div>
          <div class="col-lg-2 col-lg-offset-0">
            <div class="round-button">
              <div class="round-button-circle">
                <a  class="round-button" data-toggle="modal" data-target="#labModal">
                  +
                </a>
              </div>
            </div>
        </div>
      </div>
      <div  id="labModal" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Ajouter un Nouveau Laboratoire</h4>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <div class="row">
                  <div class="col-lg-4">
                    <label class="control-label">
                      Nom du Labo
                    </label>
                  </div>
                  <div class="col-lg-8">
                    <div>
                      <input class="form-control" ng-model="labo.nom" type="text">
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-lg-4">
                    <label class="control-label">
                      E-mail du Labo
                    </label>
                  </div>
                  <div class="col-lg-8">
                    <div>
                      <input class="form-control" ng-model="labo.email" type="email">
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-lg-4">
                    <label class="control-label">
                      Telephone du Labo
                    </label>
                  </div>
                  <div class="col-lg-8">
                    <div>
                      <input class="form-control" ng-model="labo.tel" type="text">
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-lg-4">
                    <label class="control-label">
                      Fax du Labo
                    </label>
                  </div>
                  <div class="col-lg-8">
                    <div class="">
                      <input class="form-control" ng-model="labo.fax" type="text">
                    </div>
                  </div>
                </div>
              </div>
            <div class="form-group">
              <div class="row">
                <div class="col-lg-4">
                  <label class="control-label">
                    Adresse du Labo
                  </label>
                </div>
                <div class="col-lg-8">
                  <div class="">
                    <input class="form-control" ng -model="labo.adresse" type="text">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-lg-3">
        <label class="col-lg-4 control-label" for="liste_labo">Liste des Bureaux d'études : </label>
      </div>
      <div class="col-lg-7">
        <select class="form-control">
            <option ng-repeat="bet in bets">{{bet.name}}</option>
        </select>
      </div>
      <div class="col-lg-2 col-lg-offset-0">
        <div class="round-button">
          <div class="round-button-circle">
            <a  class="round-button" data-toggle="modal" data-target="#betModal">
              +
            </a>
          </div>
        </div>
      </div>
    </div>
    <div  id="betModal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Ajouter un Nouveau bureau d'etude</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
            <div class="row">
              <div class="col-lg-4">
                <label class="control-label">
                  Nom du BET
                </label>
              </div>
              <div class="col-lg-8">
                <div class="">
                  <input class="form-control" ng-model="bet.nom" type="text">
                </div>
              </div>
            </div>
            </div>
            <div class="form-group">
          <div class="row">
            <div class="col-lg-4">
              <label class="control-label">
                E-mail du BET
              </label>
            </div>
            <div class="col-lg-8">
              <div>
                <input class="form-control" ng-model="bet.email" type="email">
              </div>
            </div>
          </div>
            </div>
            <div class="form-group">
          <div class="row">
            <div class="col-lg-4">
              <label class="control-label">
                Telephone du BET
              </label>
            </div>
            <div class="col-lg-8">
              <div>
                <input class="form-control" ng-model="bet.tel" type="text">
              </div>
            </div>
          </div>
            </div>
            <div class="form-group">
          <div class="row">
            <div class="col-lg-4">
              <label class="control-label">
                Fax du BET
              </label>
            </div>
            <div class="col-lg-8">
              <div class="">
                <input class="form-control" ng-model="bet.fax" type="text">
              </div>
            </div>
          </div>
            </div>
            <div class="form-group">
          <div class="row">
            <div class="col-lg-4">
              <label class="control-label">
                Adresse du BET
              </label>
            </div>
            <div class="col-lg-8">
              <div class="">
                <input class="form-control" ng -model="bet.adresse" type="text">
              </div>
            </div>
          </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
<div class="form-group">
  <div class="col-lg-4 control-label">
    <label for="liste_labo">Liste des Architectes : </label>
  </div>
  <div class="col-lg-8">
   <div class="col-lg-6">
    <select class="form-control" >
    <option ng-repeat="arch in architectes">{{arch.name}}</option>
    </select>
  </div>
  <div class="col-lg-1 col-lg-offset-2">
    <div class="round-button">
      <div class="round-button-circle">
        <a  class="round-button" data-toggle="modal" data-target="#archModal">
          +
        </a>
      </div>
    </div>
  </div>
</div>
<div  id="archModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Ajouter un Nouveau architecte</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <div class="row">
            <div class="col-lg-4">
              <label class="control-label">
                Nom du Architecte
              </label>
            </div>
            <div class="col-lg-8">
              <div class="">
                <input class="form-control" ng-model="archi.nom" type="text">
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-lg-4">
              <label class="control-label">
                E-mail du Architecte
              </label>
            </div>
            <div class="col-lg-8">
              <div>
                <input class="form-control" ng-model="archi.email" type="email">
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-lg-4">
              <label class="control-label">
                Telephone du Architecte
              </label>
            </div>
            <div class="col-lg-8">
              <div>
                <input class="form-control" ng-model="archi.tel" type="text">
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-lg-4">
              <label class="control-label">
                Fax du Architecte
              </label>
            </div>
            <div class="col-lg-8">
              <div class="">
                <input class="form-control" ng-model="archi.fax" type="text">
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-lg-4">
              <label class="control-label">
                Adresse du Architecte
              </label>
            </div>
            <div class="col-lg-8">
              <div class="">
                <input class="form-control" ng -model="archi.adresse" type="text">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
</div>
<div class="form-group">
  <div class="col-lg-4 control-label">
    <label for="liste_labo">Liste des Sociétés : </label>
  </div>
  <div class="col-lg-8">
   <div class="col-lg-6">
    <select class="form-control" >
     <option ng-repeat="soc in societes">{{soc.name}}</option>
    </select>
  </div>
  <div class="col-lg-1 col-lg-offset-2">
    <div class="round-button">
      <div class="round-button-circle">
        <a  class="round-button" data-toggle="modal" data-target="#societeModal">
          +
        </a>
      </div>
    </div>
  </div>
</div>
<div  id="societeModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Ajouter une Nouvelle societe</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <div class="row">
            <div class="col-lg-4">
              <label class="control-label">
                Nom de la societe
              </label>
            </div>
            <div class="col-lg-8">
              <div class="">
                <input class="form-control" ng-model="soc.nom" type="text">
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-lg-4">
              <label class="control-label">
                E-mail de la societe
              </label>
            </div>
            <div class="col-lg-8">
              <div>
                <input class="form-control" ng-model="soc.email" type="email">
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-lg-4">
              <label class="control-label">
                Telephone de la societe
              </label>
            </div>
            <div class="col-lg-8">
              <div>
                <input class="form-control" ng-model="soc.tel" type="text">
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-lg-4">
              <label class="control-label">
                Fax de la societe
              </label>
            </div>
            <div class="col-lg-8">
              <div class="">
                <input class="form-control" ng-model="soc.fax" type="text">
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-lg-4">
              <label class="control-label">
                Adresse de la societe
              </label>
            </div>
            <div class="col-lg-8">
              <div class="">
                <input class="form-control" ng -model="soc.adresse" type="text">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
</div>
<div class="form-group">
  <div class="col-lg-10 col-lg-offset-2">
    <button type="reset" class="btn btn-default">Annuler</button>
    <button type="submit" class="btn btn-primary">Enregister</button>
  </div>
</fieldset>
</form>
</div>
