<style type="text/css">
  .round-button-circle {
    width: 100%;
    height:0;
    padding-bottom: 100%;
    border-radius: 50%;
    overflow:hidden;
    background: #4679BD; 
    box-shadow: 0 0 3px gray;
  }
  .round-button-circle:hover {
    background:#30588e;
    cursor: pointer;
  }
  .round-button a {
    display:block;
    float:left;
    width:100%;
    padding-top:50%;
    padding-bottom:50%;
    line-height:1em;
    margin-top:-0.5em;
    text-align:center;
    color:#e2eaf3;
    font-family:Verdana;
    font-size:1.2em;
    font-weight:bold;
    text-decoration:none;
  }
  @media(min-width: 200px){
    .round-button {
      width: 15px;
    }
  }

  @media(min-width: 500px){
    .round-button {
      width:20px;
    }
  }
  @media(min-width: 700px){
    .round-button {
      width:35px;
    }
  }
</style>

<div>
  <form class="form-horizontal">
    <fieldset>
      <legend>Ajouter Marché</legend>
      <div class="form-group">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <label for="inputEmail" class="control-label">Titre Du marché</label>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <input class="form-control" name="name_marche"  placeholder="Titre du marché" type="text">
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <label for="type_marche" class="control-label">Type du marché</label>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <select class="form-control">
              <option>INDH</option>
              <option>BP</option>
              <option>BG</option>
            </select>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <label for="description_marche" class="control-label">Description du marché</label>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <textarea class="form-control" name="description_marche" rows="3" id="textArea"></textarea>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <label for="budget_marche" class="control-label">Budget Du marché</label>
          </div> 
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <input type="text" class="form-control" name="budget_marche" />
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row"> 
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <label>Date d'ouverture des plis</label>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <input type="text" class="form-control" id="date1">
            <script type="text/javascript">
              $(function () {
                $('#date1').datetimepicker();
              });
            </script>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row"> 
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <label>Date debut des travaux</label>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <input type="text" class="form-control" id="date2">
            <script type="text/javascript">
              $(function () {
                $('#date2').datetimepicker();
              });
            </script>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <label class="control-label" for="duree_travaux">Durée des travaux (en j)</label>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
           <input type="text" class="form-control" name="duree_travaux" />
         </div>
       </div>
     </div>
     <div class="form-group">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <label class="control-label" for="liste_labo">Laboratoire : </label>
        </div>
        <div class="col-lg-7">
          <select class="form-control">
            <option ng-repeat ="l in laboratoires">{{l.name_labo}}</option>
          </select>
        </div>
        <div class="col-lg-2 col-lg-offset-0">
          <div class="round-button">
            <div class="round-button-circle">
              <a  class="round-button" data-toggle="modal" data-target="#labModal">
                +
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <label class="control-label" for="liste_labo">Societe : </label>
        </div>
        <div class="col-lg-7">
          <select class="form-control">
            <option ng-repeat ="l in societes">{{l.name_societe}}</option>
          </select>
        </div>
        <div class="col-lg-2 col-lg-offset-0">
          <div class="round-button">
            <div class="round-button-circle">
              <a  class="round-button" data-toggle="modal" data-target="#societeModal">
                +
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <label class="control-label" for="liste_labo">Bureau d'études : </label>
        </div>
        <div class="col-lg-7">
          <select class="form-control">
            <option ng-repeat ="b in bets">{{b.name_bet}}</option>
          </select>
        </div>
        <div class="col-lg-2 col-lg-offset-0">
          <div class="round-button">
            <div class="round-button-circle">
              <a  class="round-button" data-toggle="modal" data-target="#betModal">
                +
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <label class="control-label" for="liste_labo">Maitre d'ouvrage : </label>
        </div>
        <div class="col-lg-7">
          <select class="form-control">
            <option ng-repeat ="l in maitres">{{l.name_maitre_ouvrage}}</option>
          </select>
        </div>
        <div class="col-lg-2 col-lg-offset-0">
          <div class="round-button">
            <div class="round-button-circle">
              <a  class="round-button" data-toggle="modal" data-target="#maitreModal">
                +
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <label class="control-label" for="liste_labo">Architecte : </label>
        </div>
        <div class="col-lg-7">
          <select class="form-control">
            <option ng-repeat ="l in architectes">{{l.name_archi}}</option>
          </select>
        </div>
        <div class="col-lg-2 col-lg-offset-0">
          <div class="round-button">
            <div class="round-button-circle">
              <a  class="round-button" data-toggle="modal" data-target="#archModal">
                +
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
</form>
</div>

<div  id="archModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Ajouter un Nouveau architecte</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <div class="row">
            <div class="col-lg-4">
              <label class="control-label">
                Nom du Architecte
              </label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
              <div class="">
                <input class="form-control" ng-model="archi.name_archi" type="text">
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-lg-4">
              <label class="control-label">
                E-mail du Architecte
              </label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
              <div>
                <input class="form-control" ng-model="archi.email_archi" type="email">
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-lg-4">
              <label class="control-label">
                Telephone du Architecte
              </label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
              <div>
                <input class="form-control" ng-model="archi.tel_archi" type="text">
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-lg-4">
              <label class="control-label">
                Fax du Architecte
              </label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
              <div class="">
                <input class="form-control" ng-model="archi.fax_archi" type="text">
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-lg-4">
              <label class="control-label">
                Adresse du Architecte
              </label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
              <div class="">
                <input class="form-control" ng-model="archi.adresse_archi" type="text">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="saveArchitect()">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div  id="labModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Ajouter un Nouveau Laboratoire</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <div class="row">
            <div class="col-lg-4">
              <label class="control-label">
                Nom du Labo
              </label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
              <div>
                <input class="form-control" ng-model="labo.name_labo" type="text">
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-lg-4">
              <label class="control-label">
                E-mail du Labo
              </label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
              <div>
                <input class="form-control" ng-model="labo.email_labo" type="email">
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-lg-4">
              <label class="control-label">
                Telephone du Labo
              </label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
              <div>
                <input class="form-control" ng-model="labo.tel_labo" type="text">
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-lg-4">
              <label class="control-label">
                Fax du Labo
              </label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
              <div class="">
                <input class="form-control" ng-model="labo.fax_labo" type="text">
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-lg-4">
              <label class="control-label">
                Adresse du Labo
              </label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
              <div class="">
                <input class="form-control" ng-model="labo.adresse_labo" type="text">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="saveLabo()">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div  id="betModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Ajouter un Nouveau bureau d'etude</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <div class="row">
            <div class="col-lg-4">
              <label class="control-label">
                Nom du BET
              </label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
              <div class="">
                <input class="form-control" ng-model="bet.name_bet" type="text">
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-lg-4">
              <label class="control-label">
                E-mail du BET
              </label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
              <div>
                <input class="form-control" ng-model="bet.email_bet" type="email">
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-lg-4">
              <label class="control-label">
                Telephone du BET
              </label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
              <div>
                <input class="form-control" ng-model="bet.telbet" type="text">
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-lg-4">
              <label class="control-label">
                Fax du BET
              </label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
              <div class="">
                <input class="form-control" ng-model="bet.fax_bet" type="text">
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-lg-4">
              <label class="control-label">
                Adresse du BET
              </label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
              <div class="">
                <input class="form-control" ng-model="bet.adresse_bet" type="text">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="saveBet()">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div  id="societeModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Ajouter une Nouvelle societe</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <div class="row">
            <div class="col-lg-4">
              <label class="control-label">
                Nom de la societe
              </label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
              <div class="">
                <input class="form-control" ng-model="soc.nom_societe" type="text">
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-lg-4">
              <label class="control-label">
                E-mail de la societe
              </label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
              <div>
                <input class="form-control" ng-model="soc.email_societe" type="email">
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-lg-4">
              <label class="control-label">
                Telephone de la societe
              </label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
              <div>
                <input class="form-control" ng-model="soc.tel_societe" type="text">
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-lg-4">
              <label class="control-label">
                Fax de la societe
              </label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
              <div class="">
                <input class="form-control" ng-model="soc.fax_societe" type="text">
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-lg-4">
              <label class="control-label">
                Adresse de la societe
              </label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
              <div class="">
                <input class="form-control" ng-model="soc.adresse_societe" type="text">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="saveSociete()">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div  id="maitreModal" class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Ajouter un maitre d'ouvrage</h4>
              </div>
              <div class="modal-body">
                <div class="form-group">
                  <div class="row">
                    <div class="col-lg-4">
                      <label class="control-label">
                        Nom Maitre douvrage
                      </label>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                      <div class="">
                        <input class="form-control" ng-model="maitre.name_maitre_ouvrage" type="text">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-lg-4">
                      <label class="control-label">
                        Tel Maitre douvrage
                      </label>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                      <div class="">
                        <input class="form-control" ng-model = "maitre.tel_maitre_ouvrage" type="text">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-lg-4">
                      <label class="control-label">
                        Email Maitre douvrage
                      </label>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                      <div class="">
                        <input class="form-control" ng-model = "maitre.email_maitre_ouvrage" type="email">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-lg-4">
                      <label class="control-label">
                        Fax Maitre douvrage
                      </label>
                    </div> 
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                      <div class="">
                        <input class="form-control" ng-model = "maitre.fax_maitre_ouvrage" type="text">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-lg-4">
                      <label class="control-label">
                        Addresse Maitre douvrage
                      </label>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                      <div class="">
                        <input class="form-control" ng-model = "maitre.adresse_maitre_ouvrage" type="text">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="saveMaitre()">Save changes</button>
              </div>
            </div>
          </div>
</div>