    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Connexion</div>
                <div class="panel-body">
                    <form class="form-horizontal" ng-submit="login()">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Adresse email</label>

                            <div class="col-md-6">
                                <input type="email" ng-model="user.login" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">mot de passe</label>

                            <div class="col-md-6">
                                <input type="password" ng-model="user.password" class="form-control">
                            </div>
                        </div>
                        <div class="form-group " >
                        <div class="col-md-offset-4">
                                <button type="submit" class="btn btn-primary">
                                    Connexion
                                </button>
                            </div>
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>